<p id="notice"><%= notice %></p>

<form action='report'>
	Minimum value: <input type='text' name='values[min]'/>
	Maximum value: <input type='text' name='values[max]'/>
	<input type='submit' value='Generate'/>
</form>

</br>
<%= link_to 'Back', trans_client_path %>
